<style>
  .xx {
    border: 1px solid black; 
    width: 200px; 
    height: 200px; 
    margin: 80px auto 20px auto;
  }
  .yy {
    border: 1px solid black; 
    width: 200px; 
    height: 150px; 
    margin: 10px auto 20px auto;
    overflow: hidden; 
  }
</style>

<div>
<div class="dc-menu">
  <div class="dc-btn-back" data-back="true"><span>Cofnij</span></div>
  <div class="dc-title">Hammer JS</div>
</div>

<div class="dc-body">
  <div id="touchx" class="xx">
  </div>

  <div id="touch-list" class="yy"></div>
</div>


</div>